.vscode/
# MacOS
.DS_Store

# Node
node_modules

# Next
.next
**/.next

# Environment config
.env*
!.env.sample

# intellij folder
.idea

public/url-list.txt
public/sitemap.xml

# direnv
.nvmrc
.envrc

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
